
.contener{
  display: flex;
}
.contener div{
  margin: 5px 10px 5px 10px;
}
table {
  border-collapse: collapse;
  color: #686461;
}
th {
  border-bottom: 3px solid rgb(138, 138, 138);
  padding: 10px;
  text-align: left;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: rgb(238, 238, 238);
}

table .redRating{
  color: red;
}
table .searchlName{
  color: #6dc726
}
table .searchfName{
  color: blue;
}

th:active{
  color: gray
}

.check{
  margin: 15px 0 15px 0;
  padding: 1px 1.2em;
}

table .filter1,table .filter2{
  display: none;
}

.text{
  margin: 0 10px 0 10px;
}

.firstdiv{
  min-width: 530px;
}

.attention{
  color: red;
  font-weight: bold;
}
.popUp{
  width: 500px;
  height: 250px;
  left: 30%;
  top:20%;
  padding-top: 50px;
}

.popUp, .addPopUps{
  margin: 0;
  background: white;
  position: absolute;
  text-align: center;
}

.addPopUps{
  padding-top: 10px;
  width: 500px;
  height: 700px;
  left: 30%;
  top:5%;
}

.popupfont{
  position: absolute;
  background: grey;
  width: 100%;
  height: 100%;
}

.popupfont input{
  margin-right: 10px;
}

.count{
  font-weight: bold;
}
.add{
  width: 200px;
  height: 100px;
}
